<div id="share_bar">
    {% assign share_url = page.url | absolute_url %}

    <h4 class="share-heading">Share và comment ở đây nè 😊 </h4>

    <div class="share-buttons">

        <a  href="https://www.facebook.com/sharer/sharer.php?u={{ share_url | url_encode }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Facebook" >
            <i class="fa fa-facebook-official fa-2x share-button"></i>
        </a>

        <a  href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ share_url | url_encode }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" >
            <i class="fa fa-twitter fa-2x share-button"></i>
        </a>

        <a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_url | url_encode }}&title={{ page.title | url_encode }}&summary={{ page.description | url_encode }}&source={{ site.title | url_encode }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on LinkedIn" >
            <i class="fa fa-linkedin fa-2x share-button"></i>
        </a>
        
        <a  href="https://pinterest.com/pin/create/button/?url={{ share_url | url_encode }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Pinterest" >
            <i class="fa fa-pinterest-p fa-2x share-button"></i>
        </a>

        <a  href="https://www.reddit.com/submit?url={{ share_url | url_encode }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Reddit" >
            <i class="fa fa-reddit-alien fa-2x share-button"></i>
        </a>

    </div>

</div>
