---
layout: default
---


<section class="post">
  <div class="flex-row-between">
    <a href="{{ site.url }}">« back</a>
    <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
      <div></div>
    </button>
  </div>
  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }} - {% include read-time.html content=content %}</time>
  <h1 class="title">{{ page.title }}</h1>
  <span class="meta">
    {% for tag in page.tags %}
    <a href="{{ site.url }}/tag/{{tag}}">{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>
  {{ content }}
</section>

<section>

  <nav class="post-nav">
    {% if page.previous %}
    <a class="post-nav-item post-nav-prev" href="{{ page.previous | relative_url }}">
      <div class="nav-arrow">Previous</div>
      <span class="post-title">{{ page.previous.title }}</span>
    </a>
    {% endif %} {% if page.next %}
    <a class="post-nav-item post-nav-next" href="{{ page.next | relative_url }}">
      <div class="nav-arrow">Next</div>
      <span class="post-title">{{ page.next.title }}</span>
    </a>
    {% endif %}

  </nav>

  <!-- {% include giscus.html %} -->


  {% if site.giscus %}
	{% assign giscus = site.giscus %}


    
    
	<script src="https://giscus.app/client.js"
		data-repo={{ giscus.repo }}
		data-repo-id={{ giscus.repo-id }}
		data-category={{ giscus.category }}
		data-category-id={{ giscus.category-id }}
		data-mapping={{ giscus.mapping }}
		data-reactions-enabled={{ giscus.reaction-enabled }}
    id="change"
		crossorigin={{ giscus.crossorigin }}
		async>
	</script>



<script>
    var abc = localStorage.getItem('theme');
    abc = abc || (window.matchMedia ? window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light' : 'light');

    // function changTheme() {
    // if (theme === "dark") {
    //     return "dark"
    // } else {
    //     return "light"
    // }
    // }
    
    document.getElementById("change").setAttribute("data-theme", abc)

</script>
{% endif %}


</section>